html {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(180deg, rgb(247, 146, 197), rgb(255, 231, 109));
}

body {
    font-family: 'Courier New';
    font-size: 15pt;
    color: rgb(76, 128, 128);
}

@font-face {
    font-family: PlasticSans;
    src: url('fonts/PlasticSans.otf') format('truetype');
}

#header-title {
    color: white;
    display: inline;
    font-family: PlasticSans;
    font-size: 130pt;
    margin: 0;
    padding-bottom: 0px;
}

#header-subtitle {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    display: inline-block;
    font-size: 40pt;
    margin: 0;
}

main {
    background-color: white;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 2vh;
    padding: 50px;
    min-height: 52vh;
}

.text-image {
    float: left;
    margin: 0 15px 15px 15px;
}

.text-image-right {
    float: right;
    margin: 0 15px 15px 15px;
}

.menu-item {
    font-family: PlasticSans;
    display: inline-block;
    color: white;
    font-size: 30pt;
    margin-right: 30px;
    padding: 10px;
}

.menu-item a {
    color: white;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.frame-embed {
    width: 100%;
    min-height: 60vh;
}

li:hover {
    background-color: rgb(144, 0, 255);
}

footer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(76, 128, 128);
    text-align: center;
    margin-bottom: 2vh;
}

#opened-eyes {
    background: url(img/open-eye.png);
    background-size: 60px 30px;
    width: 120px;
    height: 90px;
    right: 0;
    position: absolute;
}

#opened-eyes:hover {
    background: url(img/closed-eye.png);
    background-size: 60px 31px;
}

#closed-eyes {
    background: url(img/closed-eye.png);
    background-size: 60px 31px;
    width: 120px;
    height: 90px;
    right: 0;
    position: absolute;
    visibility: hidden;
}

#closed-eyes:hover {
    background: url(img/open-eye.png);
    background-size: 60px 30px;
}

.eye {
    margin-left: 5px;
}

.draggable {
    visibility: hidden;
    position: absolute;
}

#piscina {
    margin-top: 50px;
    margin-left: 800px;
}

#dente {
    margin-top: 320px;
    margin-left: 620px;
}

.biopic {
    float: left;
    margin-right: 20px;
}

.bioitem {
    display: block;
    min-height: 200px;
    margin-bottom: 50px;
}

.marquee {
    overflow: hidden;
    width: 100%;
}

.marquee img {
    position: absolute;
    margin: 0;
    line-height: 50px;
    text-align: center;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll-right 140s linear infinite;
    -webkit-animation: scroll-right 140s linear infinite;
    animation: scroll-right 140s linear infinite;
}

@-moz-keyframes scroll-right {
    100% {
        -moz-transform: translateX(500%);
    }
    0% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-right {
    100% {
        -webkit-transform: translateX(500%);
    }
    0% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-right {
    100% {
        -moz-transform: translateX(500%);
        -webkit-transform: translateX(500%);
        transform: translateX(500%);
    }
    0% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

.marquee2 {
    overflow: hidden;
    width: 100%;
}

blockquote {
    padding: 3%;
    background-color: lightpink;
    color: black;
    margin: 2%;
}

.marquee2 img {
    position: absolute;
    margin: 0;
    line-height: 80px;
    text-align: center;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll-right-2 120s linear infinite;
    -webkit-animation: scroll-right-2 120s linear infinite;
    animation: scroll-right-2 120s linear infinite;
}

@-moz-keyframes scroll-right-2 {
    100% {
        -moz-transform: translateX(500%);
    }
    0% {
        -moz-transform: translateX(-200%);
    }
}

@-webkit-keyframes scroll-right-2 {
    100% {
        -webkit-transform: translateX(500%);
    }
    0% {
        -webkit-transform: translateX(-200%);
    }
}

@keyframes scroll-right-2 {
    100% {
        -moz-transform: translateX(500%);
        -webkit-transform: translateX(500%);
        transform: translateX(500%);
    }
    0% {
        -moz-transform: translateX(-200%);
        -webkit-transform: translateX(-200%);
        transform: translateX(-200%);
    }
}